footer {
  background: url('/assets/img/Subtle\ Distress\ 15_white.png'), var(--blue);
  padding-top: 20px;
}

footer .inner {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#btn-orlo {
  width: calc(100% - 40px);
}
