footer {
  background: var(--blue);
  padding-top: 20px;
}

footer .inner {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .container {
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#btn-orlo {
  width: 100%;
}
