body {
  color: var(--white);
}

section {
  padding: 20px;
  z-index: 2;
}

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: var(--w);
}

#gradient {
  /* z-index: -99;
  position: absolute;
  top: 800px;
  height: 3000px;
  width: 100vw; */
  margin-top: -100px;
  background-image: linear-gradient(
    180deg,
    rgba(195, 143, 207, 0) 0%,
    #9056a1 1%,
    #9056a1 29%,
    #ffa172 78%,
    #ffa172 86%,
    rgba(255, 161, 114, 0) 100%
  );
}

section#hero {
  padding-top: 120px;
  background: url(/assets/img/DA7A6121_Alaska.jpg) center no-repeat;
}

#hero-img {
  object-fit: cover;
  width: 200%;
  margin-left: ;
  margin: 20px 0 80px -50%;
}

.button {
  height: 45px;
  line-height: 42px;
  width: 200px;
  border-radius: 4px;
  background: var(--orange);
  text-decoration: none;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
}

#order {
  position: relative;
  top: -100px;
}

.button:hover,
.button:active {
  background: var(--orange-dark);
}

figure,
figure img {
  max-width: 100%;
  margin: 0px;
}

#paypal-button-container {
  z-index: -999 !important;
}

@media (min-width: 720px) {
  .button {
    height: 55px;
    line-height: 52px;
  }
}
